<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Memes</title>
    <link rel="stylesheet" type="text/css" href="/public/css/main.css" />
</head>

<body>
    <header>
        <div class="inner">
            <nav>
                <a href="/" class="logo">
                    <img class="logo" src="/public/images/nodeLogo.png" alt="nodeLogo">
                </a>
                <input type="checkbox" id="nav" />
                <label for="nav"></label>
                <ul>
                    <li>
                        <a href="/meme/add">Add Meme</a>
                    </li>
                    <li>
                        <a href="/genre/add">Add Genre</a>
                    </li>
                    <li>
                        <a href="/meme/all">View All Memes</a>
                    </li>
                </ul>
            </nav>
        </div>
    </header>

    {{{body}}}
</body>

</html>