<h1>Add New Genre</h1>
<div class="container">
    <form action="/genre/add" method="POST">
        <div class="form-group">
            <label for="name">Title</label>
            <input type="text" name="name" placeholder="Name">
        </div>
        <div class="form-group">
            <input class="btn form-btn" type="submit" class="btn" value="Submit">
        </div>
    </form>
</div>
