<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Book Library</title>
    <link rel="stylesheet" type="text/css" href="/public/css/main.css" />
</head>

<body>

    <header>
        <div class="inner">
            <nav>
                <a href="/" class="logo">
                    <img class="logo" src="/public/images/expressjs-card.png" alt="expressLogo">
                </a>
                <input type="checkbox" id="nav" />
                <label for="nav"></label>
                <ul>
                    <li>
                        <a href="/books/add">Add Book</a>
                    </li>
                    <li>
                        <a href="/books/all">View All Books</a>
                    </li>
                </ul>
            </nav>
        </div>
    </header>

    {{{body}}}
</body>

</html>